{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th>Assignment Title</th>
            <th>Due Date</th>
            <th>Submissions</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            {% for assignment in course.assignments %}
                <tr class={% if assignment.expired %}"danger"{% else %}"success"{% endif %} >
                <td>{{ course.title }}</td>
                <td>{{ assignment.title }}</td>
                <td>{{ assignment.due_date }}</td>
                <td>
                    {% if course.submissions_count > 0 %}
                        <a href="{% url 'assignments-submissions-list' assignment_id=assignment.id %}"
                           class="btn btn-success" role="button">{{ course.submissions_count }}</a>
                    {% else %}
                        {{ course.submissions_count }}
                    {% endif %}

                </td>
                <td>
                    <a href="{% url 'assignments-list' %}?assignment_id={{ assignment.id }}"
                       class="btn btn-danger" role="button">Delete</a>
                </td>
                </tr>
            {% endfor %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}